.container{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    min-height: 650px;
    padding: 10px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    background-color: white;
}
div#navsecond {
    float: left;
    padding: 0;
    border-left: 1px solid rgb(200, 189, 136);
    border-right: 1px solid #c8bd88;
    border-bottom: 1px solid rgb(200, 189, 136);
    width: 170px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
#course h3{
    padding: 5px;
    background-color: #c8bd88;
    text-align: center;
}
div#navsecond ul{
    list-style: none;
}
div#navsecond ul li{
    padding: 3px 10px;
    text-align: center;
}
div#navsecond ul li:hover{
    background-color: rgba(200, 189, 136,.5);
}

div#navsecond a:link, div#navsecond a:visited {
    text-decoration: none;
    color: black;
}

div#maincontent {
    float: left;
    margin-left: 10px;
    /* border: 1px solid red; */
    width: 1000px;
    box-sizing: border-box;

}
.info a,.management a,.part_management a{
    display: block;
}
