<!-- 导入模版 -->
{% extends "wms_index.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/wms_index.css">
<title>删除供应商</title>
{% endblock %}
{%block maincontent%}
<style>
    .management li:nth-child(3) {
        background-color: rgba(200, 189, 136, .4);
    }

    table {
        margin: 5px auto;
        text-align: center;
        border-collapse: collapse;
        width: 100%;

    }

    table,
    th,
    td {
        border: 1px solid #ccc;
        padding: 5px;

    }

    th {
        background-color: rgb(200, 189, 136);

    }

    tr:nth-child(even) {
        background-color: rgba(200, 189, 136, .4);
    }

    /* table tr:hover {
        background-color: rgba(200, 189, 136, .6);
    } */
</style>
<div>
    <!-- <p><a href="{{url_for('supplier.supplier_management')}}">供应商管理</a>>删除供应商</p> -->
    <form action="{{url_for('supplier.del_supplier_index')}}" method="POST">

        <label for="supplier_number">供应商号或名称：</label>
        <input type="text" id="supplier_number" name="supplier_number" autocomplete="off" required>
        <button type="submit">查找</button>
        {%for message in get_flashed_messages()%}
        <p class="tips" style="color: red">{{message}}</p>
        {%endfor%}
    </form>
    <div>
        <table>
            <thead>
                <th>序号</th>
                <th>供应商号</th>
                <th>供应商名称</th>
            </thead>
            <tbody>
                {%for s in supplier_numbers%}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{s.supplier_number}}<a title="删除"
                            href="{{url_for('supplier.del_info',del_supplier_number=s.supplier_number)}}"><img
                                style="width: 16px;height: 16px; margin-left: 10px;" src="../../static/images/删除.png"
                                alt="删除" /></a></td>
                    <td>{{s.supplier_name}}</td>

                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {

        // 输入框获得焦点
        $("input").focus(function () {

            $(".tips").text("");

        });

    });
</script>

{%endblock%}