*{
    margin: 0;
    padding: 0;
}

.header{
    margin: 0 auto;
    width: 1200px;
    height: 80px;
    line-height: 20px;
}
.header .left{
    float: left;
}
.left img{
    float: left;
    margin-left: 10px;
    width: 258px;
    height: 65px;
    margin-top: 10px;
}
.left span{
    float: left;
    margin-top: 55px;
    margin-left: 10px;
    color: rgb(30, 80, 174);
    font-size: 22px;
    font-weight: 700;
}
.header .riqi{
    float: right;
    margin-top: 34px;
    margin-right: 10px;
    line-height: normal;
}
.header .right{
    float: left;
    margin-top: 26px;
    margin-left: 30px;
}
.right span{
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    line-height: normal;
}

.navigator{
    height: 50px;
    background-color: rgb(30, 80, 174);
}
.tablename{
    height: 50px;
    margin: 5px auto;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
}
table{
    margin: 5px auto 0;
    text-align: center;
    border-collapse : collapse;
    width: 80%;
}
table,th,tr,td{
    border: 1px solid #ccc;
    padding: 5px;
}
th{
    background-color: rgb(200, 189, 136);
}