{% extends "view_base.html" %}
{% block title %}供应商管理{% endblock %}
{% block view %}
<div>
    <p><a href="{{url_for('supplier')}}">供应商管理</a>>删除供应商</p>
    <form action="{{url_for('del_supplier')}}" method="POST">
        <label for="supplier_name">供应商名称：</label>
        <input type="text" id="supplier_name" name="supplier_name" required autocomplete="off">
        <label for="supplier_number">供应商号：</label>
        <input type="text" id="supplier_number" name="supplier_number" required autocomplete="off">
        <button type="submit">查找</button>
        {%for message in get_flashed_messages()%}
        <p style="color: red">{{message}}</p>
        {%endfor%}
    </form>
    <div>
        <ul>
            <li><b>供应商号</b></li>
            <li><b>供应商名称</b></li>
            {%for s in supplier_numbers%}
            <li>{{s.supplier_number}}</li>
            <li>{{s.supplier_name}}<a href="{{url_for('del_supplier',delete_word=w.word)}}">删除</a></li>
            {%endfor%}
        </ul>
    </div>
</div>

{% endblock %}