{% extends "base.html" %}

{% block title %}天津禹帆物流有限公司{% endblock %}
{% block head %}
<script src="../static/index.js"></script>
{% endblock %}
{% block content %}

<div class="main">
    <div class="tablename">{{today}}卸货时间表</div>
    <div class="table">
        <table id="bbsTab">
            <th>序号</th>
            <th>车牌号</th>
            <th>车辆类型</th>
            <th>供应商名称</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>卸货联系人</th>
            <th>卸货位</th>
            <th>卸货时间</th>
            <th>提交时间</th>

            {%for r in ret%}
            <tr>
                <td></td>
                <td>{{r.car_number}}</td>
                <td>{{r.car_model}}</td>
                <td>{{r.supplier}}</td>
                <td>{{r.contacts}}</td>
                <td id="tel">{{r.phone}}</td>
                <td>{{r.unloading_contacts}}</td>
                <td>{{r.unloading_site}}</td>
                <td>{{r.unloading_time}}</td>
                <td>{{r.create_time}}</td>

            </tr>
            {%endfor%}


        </table>


    </div>
</div>
{% endblock %}