{% extends "view_base.html" %}
{% block title %}零部件管理{% endblock %}
{% block view %}
<div>
    <p><a href="{{url_for('machinepart')}}">零部件管理</a>>修改零部件</p>
    <form action="{{url_for('mod_machinepart_index')}}" method="POST">

        <label for="machinepart_number">零部件号或名称：</label>
        <input type="text" id="machinepart_number" name="machinepart_number" autocomplete="off" required>
        <button type="submit">查找</button>
        {%for message in get_flashed_messages()%}
        <p style="color: red">{{message}}</p>
        {%endfor%}
    </form>
    <div>
        <table>
            <th>序号</th>
            <th>零部件号</th>
            <th>零部件名称</th>
            <th></th>
            {%for p in part_numbers%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{p.part_number}}</td>
                <td>{{p.part_name}}</td>
                <td><a href="{{url_for('mod_machinepart',mod_machinepart_number=p.part_number)}}">修改</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{%endblock%}