{% extends "view_base.html" %}
{% block title %}供应商管理{% endblock %}
{% block view %}
<div class="supplier_management">
    <div class="show-cards">
        <div>
            <a href="{{url_for('add_supplier')}}">
                <img src="../static/images/用户增加.png" alt="增加供应商">
                <p>增加供应商</p>
            </a>
        </div>
        <div>
            <img src="../static/images/人-减少.png" alt="删除供应商">
            <p>删除供应商</p>
        </div>
        <div>
            <img src="../static/images/HTSCIT_用户资料修改.png" alt="修改供应商">
            <p>修改供应商</p>
        </div>
    </div>

</div>

{% endblock %}