{% extends "base.html" %}
{% block title %}仓储管理系统{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/wms_index.css">
{% endblock %}
{% block content %}
<div class="main">
    <div id="navsecond">

        <div id="course">
            <h3>基础数据</h3>
            <ul class="info">
                <li><a href="{{url_for('supplier_info')}}" title="供应商信息">供应商信息</a></li>
                <li><a href="{{url_for('machinepart_info')}}" title="零部件信息">零部件信息</a></li>
                <li><a href="#" title="合作伙伴">合作伙伴</a></li>
                <li><a href="#" title="员工信息">员工信息</a></li>
                <li><a href="#" title="公司信息">公司信息</a></li>
            </ul>
            <h3>入库管理</h3>
            <ul>
                <li><a href="#" title="商品分类">商品分类</a></li>
                <li><a href="#" title="仓库信息">仓库信息</a></li>
                <li><a href="#" title="合作伙伴">合作伙伴</a></li>
                <li><a href="#" title="员工信息">员工信息</a></li>
                <li><a href="#" title="公司信息">公司信息</a></li>
            </ul>
            <h3>出库管理</h3>
            <ul>
                <li><a href="#" title="商品分类">商品分类</a></li>
                <li><a href="#" title="仓库信息">仓库信息</a></li>
                <li><a href="#" title="合作伙伴">合作伙伴</a></li>
                <li><a href="#" title="员工信息">员工信息</a></li>
                <li><a href="#" title="公司信息">公司信息</a></li>
            </ul>
            <h3>系统管理</h3>
            <ul class="management">
                <li><a href="{{url_for('supplier')}}" title="供应商管理">供应商管理</a></li>
                <li><a href="{{url_for('machinepart')}}" title="零部件管理">零部件管理</a></li>
                <li><a href="#" title="合作伙伴">合作伙伴</a></li>
                <li><a href="#" title="员工信息">员工信息</a></li>
                <li><a href="#" title="公司信息">公司信息</a></li>
            </ul>
        </div>

    </div>
    <div id="maincontent">
        {% block view %}{% endblock %}

    </div>
</div>
{% endblock %}